
@font-face {
  font-family: 'LeagueGothic';
  src: url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/LeagueGothic-Regular-webfont.eot');
  src: url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
  url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
  url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/LeagueGothic-Regular-webfont.svg#LeagueGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LMRomanItalic';
  src: url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/lmroman10-italic-webfont.eot');
  src: url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/lmroman10-italic-webfont.woff') format('woff'),
  url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/lmroman10-italic-webfont.ttf') format('truetype'),
  url('//www.leaderbikes.com/skin/frontend/leaderbikes/default/fonts/lmroman10-italic-webfont.svg#LMRomanItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;

  font-family: Arial, Helvetica, "sans-serif";
  font-size: 12px;
  color: #444;
  /*background-color: #262626;*/
}

body {
  background-color: #333;
  background-image: url(../assets/leaderbikes-bg.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

:focus { outline: none; }

h1 { font: 70px/70px 'LeagueGothic'; color: #fff; text-transform: uppercase; margin: 0; }
h2 { font: 70px/70px 'LMRomanItalic'; color: #fff; text-transform: uppercase; margin: 0; }
.gothic {
  font: 26px/26px 'LeagueGothic';
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}

.roman {
  font: 26px/26px 'LMRomanItalic';
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.font18 { font-size: 18px; line-height: 18px; }
.font20 { font-size: 20px; line-height: 20px; }
.font22 { font-size: 22px; line-height: 22px; }

.header {
  margin: 0 auto;
  width: 960px;
  height: 58px;
}

#tvpage {

}

.tvp-content {

}

.tvp-content .list {
  background-color: rgba(255,255,255,0.6);
}

.tvp-content .video-list-item .list-item-body {
  color: #fff;
  font-weight: 500;
}
.tvp-content .video-list-item .list-item-media {
  width: 80px;
  height: 45px;
}
.tvp-content .video-list-item,
.tvp-content .channel-list-item {
  width: 100%;
  padding: 10px;


  /*border-top: solid 1px #666;
  border-bottom: solid 1px #222;*/
}

.tvp-content .channel-list-item .list-item-media {
  display: block;

  width: 280px;
  height: 45px;
}

.tvp-content .channel-list-item .list-item-body {
  display: block;
  margin-top:5px;

  color: #fff;
}

.Bar {
  background-color: #666;
}

/* Products
-------------------------- */
/*.tvp-spots {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 40px;

  width: 150px;
  height: 511px;

  overflow: hidden;
}*/

.tvp-remote {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  position: absolute;
  width: 30px;
  height: 30px;

  top: 0px;
  left: 0px;

  background-color: #7ea6d7;

  line-height: 30px;
  text-align: center;

  color: #fff;

  font-size: 30px;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.8);
}

/* Scrollbar indicator
----------------------------------------------------- */

.iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 9999;
  height: 16px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  overflow: hidden;
}

.iScrollHorizontalScrollbar.iScrollBothScrollbars {
  right: 18px;
}

.iScrollVerticalScrollbar {
  position: absolute;
  z-index: 9999;
  width: 7px;
  bottom: 2px;
  top: 2px;
  right: 2px;
  overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
  bottom: 18px;
}

.iScrollIndicator {
  position: absolute;
  background: #cc3f6e;
  border: none;
  border-radius: 4px;
}

.iScrollVerticalScrollbar .iScrollIndicator {
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.tvp-player {
  /*display: none;*/
  /*visibility: hidden;*/
  /*position: relative;*/
  /*margin-bottom: 10px;*/
}

.tvp-player2 {
  visibility: hidden;
}

#TVPage_Player2 > div {
  width: 100%;
  height: 100%;
}

#TVPage_Player > div {
  width: 100%;
  height: 100%;
}
