<li class="grid-item background-image ContentItemVideo fade fadeIn" style="background-image: url(https://i.ytimg.com/vi/-Ncn83U98ac/maxresdefault.jpg);">
    <div class="VideoOverlay">
        <div class="text-center TitleText roman bottom-center" style="height:55px;">
            {{ titleText }}
        </div>
        <div class="DetailsText top-center" style="top:0;">
            <div class="upper-left gothic font18">
                VIDEO
            </div>
            <div class="upper-right gothic font18">
                {{ prettyDuration }}
            </div>
        </div>
        <p class="text-center">
            <a class="PlayLink roman font22" data-video-id="-Ncn83U98ac" href="#">PLAY</a>
        </p>
    </div>
</li>