* {
  box-sizing: border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;

  font-family: Arial, Helvetica, sans-serif;
}

.body-bg {
  background-image: url(../img/clothing-store-body-bg.jpg);
  background-repeat: repeat-x;
}

.body {
  position: relative;

  margin:0 auto;
  width: 1186px;
  height:1857px;

  background-image: url(../img/clothing-store-product-details.jpg);
  background-repeat: no-repeat;
}