#tvpage {
  top: 840px;
  left: 595px;


  width: 379px;
  height: 236px;
}

.tvp-player {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: #000;
}

/**
Keep the player container full size
**/
#TVPage_Player {
  width: 100%;
  height: 100%;
}

/**
Keep the div inside the player container full size
**/
#TVPage_Player > div {
  width: 100%;
  height: 100%;
}

.stage-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;

  cursor: pointer;
}

.tvp-player > div,
.tvp-player > div > div {
  height: 236px;
}

.tvp-player > .control-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;
  height: auto;

  cursor: pointer;
}

.tvp-player > .cover-overlay {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;

  background-color: #000;

  text-align: center;
}

/**
.tvp-form
=========================================
**/

.tvp-form {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,0.9);

  display: none;
}

.tvp-form .form-text {
  margin-right: 100px;
  line-height: 60px;
  padding-left: 10px;
}

.tvp-form .form-buttons {
  float: right;
}

.tvp-form .form-buttons .btn {
  display: inline-block;

  width: 50px;
  height: 50px;

  padding: 0;
  margin: 5px 5px 5px;

  background: none;
  border: solid 1px transparent;

  opacity: 0.7;
  cursor: pointer;
}

.tvp-form .form-buttons .btn:hover {
  border: solid 1px #aaa;
  border-radius: 3px;

  background: #eeeeee;

  opacity: 1;
}

.tvp-form .form-buttons .btn.btn-up {
  background-image: url(../img/Thumbs_Up.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tvp-form .form-buttons .btn.btn-down {
  background-image: url(../img/Thumbs_Down.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tvp-form .form-buttons .btn.btn-up:hover {
  background: #eeeeee;

  background-image: url(../img/Thumbs_Up.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tvp-form .form-buttons .btn.btn-down:hover {
  background: #eeeeee;

  background-image: url(../img/Thumbs_Down.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/**
Form Results
===================
**/

.tvp-form-result {
  line-height: 60px;
  text-align: center;

  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,0.9);

  display: none;
}