#tvpage {
  top: 329px;
  left: 9px;


  width: 343px;
  height: 343px;
}

.tvp-player {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: #000;
}

/**
Keep the player container full size
**/
#TVPage_Player {
  width: 100%;
  height: 100%;
}

/**
Keep the div inside the player container full size
**/
#TVPage_Player > div {
  width: 100%;
  height: 100%;
}

.stage-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;

  cursor: pointer;
}

.tvp-player > div,
.tvp-player > div > div {
  height: 236px;
}

.tvp-player > .control-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;
  height: auto;

  cursor: pointer;
}

.tvp-player > .cover-overlay {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;

  background-color: #000;

  text-align: center;
}

/**
.tvp-form
=========================================
**/

.tvp-form {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,0.9);

  display: none;
}

.tvp-form .form-text {
  margin-right: 100px;
  line-height: 60px;
  padding-left: 10px;
}

.tvp-form .form-buttons {
  float: right;
}

.tvp-form .form-buttons .btn {
  display: inline-block;

  width: 50px;
  height: 50px;

  padding: 0;
  margin: 5px 5px 5px;

  border: solid 1px #aaa;
  background: #eeeeee;

  opacity: 0.7;
  cursor: pointer;

  font-size: 18px;
  font-weight: bold;
}

.tvp-form .form-buttons .btn:hover {
  background: #fa3333;
  color: #fff;

  border-radius: 3px;

  opacity: 1;
}

/**
Form Results
===================
**/

.tvp-form-result {
  line-height: 60px;
  text-align: center;

  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,0.9);

  display: none;
}