* {
  box-sizing: border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}

.body-bg {
  background-image: url(../img/buckle-body-bg.jpg);
  background-repeat: repeat-x;
}

.body {
  position: relative;

  margin:0 auto;
  width: 967px;
  height:962px;

  background-image: url(../img/buckle-body.jpg);
  background-repeat: no-repeat;
}

.play-video {
  width: 160px;
  height: 60px;

  position: absolute;
  top: 770px;
  left: 230px;

  cursor: pointer;
  opacity: 0;
}