.tvp-player {
  width: 836px;
  height: 400px;
  overflow: hidden;
}

.tvp-player .YoutubePlayer {

  width: 600px;
  height: 320px;

  position: absolute;
  top: 0;
  left: 0;
}

#YTPlayer {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
}


/* Video in a modal */
/* ---------------- */
.VideoModalBackground {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0,0,0,0.8);
}

.VideoModalPlayer {
  position: absolute;

  top: 140px;
  left: 50%;
  margin-left: -400px;

  width: 800px;
  height: 450px;
}

.VideoModalPlayer > iframe {
  position:absolute;

  top: 0;
  left: 0;


  width: 100%;
  height: 100%;
}

.VideoModalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
  background: rgba(0,0,0,0.8);
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;

  vertical-align: baseline;
  padding-bottom: 0;
}

.VideoModalClose:hover {
  cursor: pointer;
}

.VideoModalClose > p {
  margin-left: 30px;
  line-height:20px;
}

.VideoModalClose > div {
  font-size: 60px;
  position: absolute;
  line-height: 30px;
  margin-top: 7px;
}

.PosterImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}