.tvp-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.background-image {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.CanvasImage {
  position: relative;

  margin-bottom: 10px;
  width: 836px;
  height: 400px;
}

.CanvasLogo {
  padding:0;

  position: absolute;
  top: 30px;
  left: 30px;

  background-size: contain;

  width: 200px;
  height: 160px;

  background-color: rgba(255,255,255,0.4);
}