

.SpotList {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  -webkit-backface-visibility: hidden;

  position: absolute;
  width: 800px;
  height: 133px;
}
.SpotItem {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  position: relative;
}

.SpotItem .button {
  padding: 5px 10px;

  font-family: 'HelveticaBoldCondensed77', sans-serif;
  background-color: #ffd204;
  border: solid 1px #ffd204;
  color:#fff;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.6);

  cursor: pointer;
}

.SpotItem .button:hover {
  background-color: #fff;
  border: solid 1px #ffd204;
  color: #ffd204;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.6);;
}



.SpotContainer {
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
}

.SpotOverlay {
  text-align: center;
  padding: 10px;
  width: 150px;
}

.SpotOverlay > p {
  margin: 5px;
}

.SpotImage {
  width: 130px;
  height: auto;
  border: solid 1px #003366;
}